<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="fragments/htmlHead :: htmlHead(jsFiles=${ {'notes.js'} })">
</head>
<body class="w3-theme-l5" style="min-height: 100%">
<div class="w3-container" ng-app="gataApp">
    <div th:replace="fragments/header :: header(notesTabSelected=true, searchPanelId=notesSearchPanel)"/>
    <div th:replace="fragments/ajaxError :: ajaxError"/>
    <div class="" ng-controller="notesListController">
        <div id="notesSearchPanel" class="w3-container w3-sidebar w3-collapse searchMaster">
            <div class="w3-row w3-section">
                <div class="w3-col w3-button w3-left fieldIcon w3-xxlarge w3-text-theme material-icons"
                     ng-click="refreshClicked()">search
                </div>
                <div class="w3-col w3-button w3-right fieldIcon w3-xxlarge w3-text-theme material-icons"
                     ng-click="cleanClicked()">clear
                </div>
                <div class="w3-rest w3-green">
                    <input class="w3-input w3-theme-l5" type="text" th:placeholder="#{i18n.common.filter}"
                           placeholder="f1lt3r"
                           ng-model="filter"/>
                </div>
            </div>
            <div class="searchResults" when-scrolled-bottom="loadNextPage()" when-scrolled-disabled="fetching">
                <ul class="w3-ul w3-border w3-theme w3-card">
                    <li ng-repeat="note in notes">
                        <a href="" class="w3-button w3-block w3-left-align" ng-click="noteClicked(note.id)">{{note.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w3-main w3-container w3-theme-l4 searchDetail">
            <div>
                <div class="w3-bar">
                    <a ng-if="selectedNote != null" class="w3-left w3-bar-item w3-button" href=""
                       ng-click="saveClicked()">
                        <i class="w3-xxlarge w3-text-theme material-icons">save</i>
                    </a>
                    <a ng-if="selectedNote != null" class="w3-left w3-bar-item w3-button" href=""
                       ng-click="deleteClicked()">
                        <i class="w3-xxlarge w3-text-theme material-icons">delete</i>
                    </a>
                    <a class="w3-right w3-bar-item w3-button" href="" ng-click="addClicked()">
                        <i class="w3-xxlarge w3-text-theme material-icons">add</i>
                    </a>
                </div>
                <div class="w3-container w3-section w3-theme-l5" ng-if="selectedNote == null">
                    <p class="w3-text-theme" th:text="#{i18n.notes.empty}">3mpty</p>
                </div>
                <div ng-if="selectedNote != null">
                    <input class="w3-input w3-theme-l5" name="title" type="text" size="40"
                           ng-model="selectedNote.title"/>
                    <textarea class="w3-input w3-theme-l5" rows="20" cols="80" name="content"
                              ng-model="selectedNote.content"></textarea>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>